*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
        
:root{
    --water: #24caf2;
    --Summeeer: #fdbd3e;
    --coral: #ff3737;
    --tropical: #24e02a;
    --water2: #1e1eb7;
    --black: black;
    --white: white;
    --ombrablu: 0px 0px 20px 20px #2424f267;
    --ombrarancione: 0px 0px 20px 20px rgba(248, 123, 6, 0.4);
    --link: #24e02a;
    --link2: #ff3737;
}

body{
    background-color: var(white);
}

#sfondo1{
    position: relative;
    margin-top: 0px;
    width: 100%;
    height: 100%;
    top: 70;
    right: 0;
    display: flex;
}


/*NAVBAR*/
#navbar{
    width:100%;
    height: 70px;
    top: 0;
    display: flex;
    align-items: center;
    position: absolute;
}
#logo{
    width:50px;
    position: absolute;
    left:20px;
    transition: transform 0.2s ease-in-out;
}

#logo:hover{
    transform: scale(1.10);
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:20px;
}
.menuTab{
    margin:0 40px;
    font-size:20px;
    color: var(--white);
    font-family: "Itim";
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.menuTab:hover{
    transform: scale(1.10);
}

/*MOBILE*/
#menuIcon{
    width: 30px;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

#menuIcon:hover{
    transform: scale(1.08);
}

@media only screen and (max-width:800px) {
    #menuIcon{
        display: block;
    }
    .menuTab{
        display: none;
    }
}

#mobileNav{
    position: relative;
    margin-top: 15%;
    width: 100%;
    height: 100%;
    background-color: var(--bluelectric);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}

.mobileTab{
    width: 130px;
    height: 40px;
    background-color: var(--bluelectric);
    color: white;
    font-size: 35px;
    border-radius: 20px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Itim";
}

.mobileTab:hover{
    transform: scale(1.10);
}

/*TITOLO*/


/*style="font-family: Forte;"*/
@font-face {
	font-family: 'Shelman';
	src: url('img/SHELMAN.ttf');
	}

#intestazione{
    position: absolute;
    display: block;
    z-index: 0;
    top: 150px;
    left: 120px;
    height: 500px;
    width: 500px;

}

#webeeeT{
    height: auto;
    width: auto;
    position: relative;
    margin-top: 5px;
    left: 50px;
}

#Summer{
    position: relative;
    height: auto;
    width: auto;
    top: -50px;
    left: 30px;


}


@media only screen and (max-width:800px) {
    #intestazione{
        height: 21%;
        width: 35%;
        margin-right: 20%;
        margin-bottom: 50%;
    }
    #welcome{
        display: none;
    }
    #webeeeT{
        height: 80%;
        width: 100%;
        left: 0;
        margin-left: 2%;
        margin-right: 0%;
    }
}


/*PAGINA*/

#pagina{
    width:100%;
    height:200vh;
    background-color: var(--Summeeer);
    position: absolute;
    top:100vh;
    padding-top: 15vh;
    
}

#sezioneNews{
    width: auto;
    display: block;
}


@media only screen and (max-width:800px) {
    #sezioneNews{
        position: relative;
        width: 50%;
        display: flex;
        flex-direction: column;
    }
}

/*La sai l'ultima?*/


#lasaisez{
    width:450px;
    height:300px;
    background-color: var(--white);
    border-radius: 25px;
    margin:0 auto;
    margin-left: 900px;
}

#lasaiTitolino{
    width: 175px;
    background-color: black;
    color: var(--white);
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 125px;
    padding-left: 5px;
    
}


#corpo{
    width:100%;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
}
#lasaiInfo{
    width:100%;
    height:100%;
    padding-left: 20px;
    display: inline-block;
    height:250px;
}
#lasaiT{
    font-family: "itim";
    color:var(--black);
    font-weight: bold;
    font-size:30px; 
    width:100%;
}
#lasaiDesc{
    color:var(--black);
    font-size:15px;
    margin-top:10px;
    margin-bottom: 10px;
    width:100%;
    font-family: 'Roboto Mono', monospace;
}
.button{
    width:150px;
    height:40px;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive;
    display: inline-flex;
    margin-right: 20px;
    color: var(--link);
    background-color: var(--bluelectric);
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}
.button:hover{
    transform: scale(1.02);
    color: var(--link2);
}
#lasaiImg{
    padding-right: 20px;
    display: inline-block;
    width:50%;
    height:50%;
}
#lasaiImg img{
    width: 100%;
    border-radius: 25px;
}


/*cavolate Estive*/

#soggettosez{
    width:450px;
    height:300px;
    background-color: var(--white);
    border-radius: 25px;
    margin:0 auto;
    margin-right: 950px;
    margin-top: 50px;
}

#soggettoTitolino{
    width: 170px;
    background-color: black;
    color: var(--white);
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 125px;
    padding-left: 12px;
}


#corpo2{
    width:100%;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
}
#soggettoInfo{
    width:100%;
    height:100%;
    padding-left: 20px;
    display: inline-block;
    height:250px;
}
#soggettoT{
    font-family: "itim";
    color:var(--black);
    font-weight: bold;
    margin-bottom: 20px;
    font-size:30px; 
    width:100%;
}
#soggettoDesc{
    color:var(--black);
    font-size:20px;
    margin-top:10px;
    margin-bottom: 40px;
    width:100%;
}

#soggettoImg{
    padding-right: 20px;
    display: inline-block;
    width:50%;
    height:50%;
}
#soggettoImg img{
    width: 100%;
    border-radius: 25px;
}



/*Gallery*/

#gallerysez{
    width:450px;
    height:300px;
    background-color: var(--white);
    border-radius: 25px;
    margin:0 auto;
    margin-left: 700px;
    margin-top: 50px;
}

#galleryTitolino{
    width: 190px;
    background-color: black;
    color: var(--white);
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 125px;
    padding-left: 12px;
}


#corpo4{
    width:100%;
    height:300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
}
#galleryInfo{
    width:100%;
    height:100%;
    padding-left: 20px;
    display: inline-block;
    height:250px;
}
#galleryT{
    font-family: "itim";
    color:var(--black);
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    font-size:30px; 
    width:100%;
}
#galleryDesc{
    color:var(--black);
    text-align: center;
    font-size:20px;
    margin-top:10px;
    margin-bottom: 40px;
    width:100%;
}

/*Pagina Mobile*/

@media only screen and (max-width:800px) {
    #pagina{
        display: none;
    }
}