*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}

:root{
    --water: #24caf2;
    --Summeeer: #fdbd3e;
    --coral: #ff3737;
    --tropical: #24e02a;
    --water2: #1e1eb7;
    --black: black;
    --white: white;
    --link: #24e02a;
    --link2: #ff3737;
}

body{
    background-color: var(--coral);
}

#sfondo1{
    position: relative;
    width: 100%;
    height: 100%;
    top: 70;
    right: 0;
}


/*NAVBAR*/
#navbar{
    width:100%;
    height: 70px;
    top: 0;
    display: flex;
    align-items: center;
    position: absolute;
}
#logo{
    width:50px;
    position: absolute;
    left:20px;
    transition: transform 0.2s ease-in-out;
}

#logo:hover{
    transform: scale(1.10);
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right:20px;
}
.menuTab{
    margin:0 40px;
    font-size:20px;
    color: var(--white);
    font-family: "Itim";
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}
.menuTab:hover{
    transform: scale(1.10);
}


/*MOBILE*/
#menuIcon{
    width: 30px;
    cursor: pointer;
    margin-right: 20px;
    display: none;
}

#menuIcon:hover{
    transform: scale(1.08);
}

@media only screen and (max-width:800px) {
    #menuIcon{
        display: block;
    }
    .menuTab{
        display: none;
    }
}

#mobileNav{
    position: relative;
    margin-top: 15%;
    width: 100%;
    height: 100%;
    background-color: var(--water);
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
}
#mobileMenu{
    margin-top: 60%;
    margin-left: 20%;
}
.mobileTab{
    width: 130px;
    height: 40px;
    background-color: var(--water);
    color: white;
    font-size: 35px;
    border-radius: 20px;
    margin: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Itim";
}

.mobileTab:hover{
    transform: scale(1.10);
}


/*TITOLO*/

/*style="font-family: Forte;"*/
@font-face {
	font-family: 'Shelman';
	src: url('img/SHELMAN.ttf');
}


#intestazione{
    position: relative;
    z-index: 0;
    top: -60%;
    left:5%;
    width: 55%;
    margin: 0;
}
#TitoloNews{
    color:var(--black);
    top:450;
    font-size:70px;
    font-family: 'Fredoka One', cursive;
    line-height: 150%;
}

#SottoNews{
    color:var(--black);
    margin-top:5%;
    font-size:30px;
    font-family: "Roboto Mono";
    line-height: 150%;  
}

#ABaiano{
    color: var(--black);
    font-weight: bold;
}

#ABaiano:hover{
    color: var(--link);

}

#datas{
    margin-top: 5%;
    width: 140%;
    font-size: 110%;
    font-family: "Roboto Mono";
    display: inline-flex;
    flex-direction: row;
}

#readingTime{
    margin-right: 10%;
}

#owner{
    margin-right: 10%;
    font-weight: bolder;
}

#dataora{
    line-height: 160%;
}


/*Testo Notizia*/

#paginaRazzo{
    background-color: var(--white);
    margin-top: -43%;
    height: 1000px - auto;
    display: flex;
    flex-direction: row;
}

#paginaLunga{
    background-color: var(--white);
    margin-top: -48%;
    padding-top: 10%;
    height: 800%;
    display: flex;
    flex-direction: row;
}

#testoNews{
    padding-left: 5%;
    padding-top: 15%;
    width: 60%;
    font-size: 30px;
    font-family: 'Mukta', sans-serif;
    line-height: 160%;
    text-align: justify;
}

#Correlati{
    margin-top: 200px;
    margin-left: 100px; 
    margin-bottom: 50px;
    width: 500px;
    height: 500px;
    background-color: var(--coral);
    border-radius: 30px;
}

#vedianche{
    font-size: 30px;
    font-family: "Itim";
    font-weight: bolder;
    line-height: 100%;
    text-align: center;
    padding-top: 20px;
}

.altraNews{
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
    width: 450px;
    font-size: 25px;
    font-weight: bold;
    font-family: "Itim";
    color: var(--black);
}

.altraNews:hover{
    color: var(--link);
    transform: scale(1.10);
}

#NewsImg{
    width: 75%;
    height: 75%;
    margin-top: 200px;
    margin-left: 60px;
    border-radius: 10px;
    display: none;
}

#NewsImgM{
    display: none;
    width: 100%;
    height: 0,75%;
    border-radius: 10%;
    box-shadow: var(--water);
}

@media only screen and (max-width:800px) {
    #menuIcon{
        display: block;
    }
    .menuTab{
        display: none;
    }
    #intestazione{
        width: 80%;
    }
    #TitoloNews{
        font-size: 180%;
        width: 75%;
        margin: 20% 0%;
    }
    #SottoNews{
        font-size: 100%;
        margin-bottom: 10%;
    }
    #datas{
        margin-top: 2%;
        width: 118%;
        font-size: 110%;
        font-family: "Roboto Mono";
        display: inline-flex;
        flex-direction: row;  
    }
    .k{
        width: 20%;
    }
    #dataora{
        width: 35%;
        margin-left: 0%;
        font-size: 80%;
    }
    #paginaRazzo{
        flex-direction: column;
        margin-top: -115%;
        width: 100%;
    }
    #paginaLunga{
        flex-direction: column;
        margin-top: -150%;
        padding-top: 2%;
        height: 830%;
    }
    #testoNews{
        width: 85%;
        padding-top: 80%;
    }
    #NewsImg{
        display: none;
    }
    #NewsImgM{
        display: flex;
    }
    #correlati{
        margin-top: 4%;
        margin-left: 10%; 
        margin-bottom: 50px;
        padding-left: 6%;
        width: 75%;
        height: 50%;
        background-color: var(--coral);
        border-radius: 30px;
    }
    .altraNews{
        margin: 4%;
        text-align: center;
        width: 90%;
        font-size: 25px;
        font-weight: bold;
        font-family: "Itim";
        color: var(--black);
    }
    .altraNews:hover{
        transform: scale(1);
    }
}